[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
alembic = "*"
blinker = "*"
click = "*"
dominate = "*"
itsdangerous = "*"
python-dateutil = "*"
python-editor = "*"
six = "*"
visitor = "*"
Flask = "*"
Flask-Bootstrap4 = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-Moment = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[requires]
python_version = "3.8"
